body {
  background-color: rgb(167, 231, 186);
  font-family: Open-Dyslexic, Comic Sans, Century Gothic, Verdana;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  color: rgb(9, 58, 23);
  text-align: center;
}

p {
  font-size: 20px;
}

ul {
margin: 5px;
margin-left: 0%;

}

form {
margin: 0 auto;
width: auto;
background-color: silver;
padding: 1em;
border: 1px solid rgb(2, 43, 29);
border-radius: 1em;
}



/*
.noun, .verb, .adjective, .adverb {
color:midnightblue;
}
*/